<div class="container">

   <h1>Add a question to the library:</h1>
   <br>

  <% if @auth_user %>

  <!-- Form id name needed for Javascript; please advise if you change -->
  <!-- Class .answers and .answer necesserary; please advise if you change so we update javascript -->

  <form id="question-form" method="post" action="/questions">

      <div>
        <label for="content">Question:</label>
        <input type="text" placeholder="e.g. To set up Dynamic Remarketing, you must do which of these things?" name="content" value="<%= @new_question.content if @new_question %>">
      </div>

      <div>
        <label for="image">Embed an image in your question:</label>
        <input type="url" placeholder="image url" name="image_url" value="<%= @new_question.image if @new_question %>">
      </div>

      <div>
        <label for="no_of_answers">How many answers do you want to add for this question? (min. 2, max. 5)</label>
        <button class="add_answer">+</button> <button class="remove_answer">-</button>
      </div>

      <div class="answers">

        <div class="answer">
          <label for="answer1_content">Answer 1:</label>
          <input type="text" name="answer1_content" class="answer_content">
          <label for="answer1_correct">Correct?</label>
          <select name="answer1_correct">
            <option value="true">yes</option>
            <option value="false">no</option>
          </select>
        </div>

        <div class="answer">
          <label for="answer2_content">Answer 2:</label>
          <input type="text" name="answer2_content" class="answer_content">
          <label for="answer2_correct">Correct?</label>
          <select name="answer2_correct">
            <option value="true">yes</option>
            <option value="false">no</option>
          </select>
        </div>

        <div class="answer">
          <label for="answer3_content">Answer 3:</label>
          <input type="text" name="answer3_content" class="answer_content">
          <label for="answer3_correct">Correct?</label>
          <select name="answer3_correct">
            <option value="true">yes</option>
            <option value="false">no</option>
          </select>
        </div>

        <div class="answer">
          <label for="answer4_content">Answer 4:</label>
          <input type="text" name="answer4_content" class="answer_content">
          <label for="answer4_correct">Correct?</label>
          <select name="answer4_correct">
            <option value="true">yes</option>
            <option value="false">no</option>
          </select>
        </div>

        <div class="answer">
          <label for="answer5_content">Answer 5:</label>
          <input type="text" name="answer5_content" class="answer_content">
          <label for="answer5_correct">Correct?</label>
          <select name="answer5_correct">
            <option value="true">yes</option>
            <option value="false">no</option>
          </select>
        </div>

      </div>

      <div id="submit_button">
      <button type="submit">Submit</button>
      </div>

  </form>

  <% else %>

  <div>
      <strong>Access restricted. Please login first!</strong>
  </div>

  <% end %>

</div>
