<div class="container">

   <h1>Add a question to the library:</h1>
   <br>

  <% if @auth_user %>

  <form method="post" action="/questions">

      <div>
      <label for="question_content">Question:</label>
      <input type="text" class="form-control" placeholder="e.g. To set up Dynamic Remarketing, you must do which of these things?" name="question_content" value="<%= @new_question.content if @new_question %>">
      </div>


      <div>
      <button type="submit" class="btn btn-default">Register</button>
      </div>

  </form>

  <% else %>

  <div>
      <strong>Access restricted. Please login first!</strong>
  </div>

  <% end %>

</div>
