<div> 
  <h3> <em> Name: <%=@candidate[:candidate_name]%> </em> </h3>
	  
   <strong> Email: <%=@candidate[:candidate_email]%> </strong>
	 <p> <strong> Score on Test: <%=@candidate[:candidate_score]*100%>% </strong> </p>
</div>


<div>
<strong><a href="/tests/<%=@test.id%>/test_results/>">Back to main index </a></strong>
</div>