body {
  background-color: #800000;
}

span {
  /*background: #800000;*/
  border-radius: 20px;
 /* background: linear-gradient(0, 0, 0, 0);*/
  color: white;
  text-shadow: 0.5px 0.5px #800000;
 padding: 5px;
}

span2 {
  /*background: #800000;*/
 /* background: linear-gradient(0, 0, 0, 0);*/
  color: white;
  text-shadow: 0.5px 0.5px #800000;
 padding: 5px;
}

.top {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
    url(../images/business.jpg);
  background-size: cover;
  display: block;
  margin-left: 50px;
  padding: 200px;
  width: 60%;
}


.image1 {
  border: 1px solid;
  border-color: #800000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h1 {
  position: relative;
  text-align: center;
}

h2 {
  position: relative;
  text-align: center;
}

#toggleLog1 {
  background-color: #800000;
  border: 1px solid black;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 12px;
  height: 5px;
  margin-left: 160px;
  margin-top: 120px;
  padding-bottom: 15px;
  padding-top: 1px;
  position: absolute;
  text-align: center;
  text-transform: translateY(-50%);
  width: 70px;
}

#toggleLog2 {
  background-color: #800000;
  border: 1px solid black;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  float: right;
  float: bottom;
  font-size: 12px;
  height: 5px;
  margin-left: 475px;
  margin-top: 120px;
  padding-bottom: 15px;
  padding-top: 1px;
  position: absolute;
  text-align: center;
  text-transform: translateY(-50%);
  width: 70px;
}

.real-bottom {
  /*clear: both;*/
  /*display: inline-block;*/
  margin: 0 auto;
  width: 800px;
  /*margin-top: 600px;*/
/*  position: relative;*/
}

.logo {
  margin-left: -300px;
}

.text h4 {
  float: right;
  margin-left: 500px;
  margin-top: -350px;
  text-decoration: none;
}

/*  <img class="image1" src="/images/business.jpg">*/