/*body {
  background-color: #9C5264;
}*/



.top_panel {
  background-color: #d3d3d3;
  border: 1px solid black;
  border-radius: 4px;
  height: 100px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 97%;
}


#greeting {
  font-color: red;
  font-family: Courier;
  margin-left: 5px;
  margin-top: 15px;
}

#toggleLog {
  background-color: #c0c0c0;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  float: right;
  float: top;
  font-size: 12px;
  height: 5px;
  margin-bottom: 5px;
  margin-right: 4px;
  margin-top: -80px;
  padding-bottom: 15px;
  padding-top: 1px;
  position: relative;
  text-align: center;
  text-transform: translateY(-50%);
  width: 70px;
}

.panel {
  background-color: #d3d3d3;
  border: 1px solid black;
  border-radius: 4px;
  padding-left: 10px;
}

img {
  border: 1px solid;
  border-color: #800000;
}

.image1 {
  border-radius: 4px;
  display: block;
  margin-top: 5px;
  margin-left: -2px;
}

.section {
  height: 20px;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 5px;
}

.section h5 {
  margin: 0px;
}

h4 {
  font-weight: bold;
  text-decoration: underline;
}


a {
  text-decoration: none;
}

span {
  color: #800000;
}

#xspace {
  height: 10px;
}

.large-12 {
  width: 97%;
}