.input {
  margin-bottom: 20px;
}

.button {
  background-color: #800000;
  border: 1px solid black;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 10px;
  margin-top: 20px;
  padding-bottom: 22px;
  padding-top: 5px;
  text-align: center;
  text-transform: translateY(-50%);
}