<div class="container">
   <h1>User login</h1>
   <br>
  <% if @error %>
    <div>
      <strong>Some issues with your login, please fix them:</strong>
      <p><%= @error %></p>
    </div>
  <% end %>
  <form method="post" action="/login">
    <div>
      <label for="user_name">Username:</label>
      <input type="text" placeholder="your username comes here" name="user_name" value="<%= @unauth_user.user_name if @unauth_user %>">
    </div>
        <div>
      <label for="password">Password:</label>
      <input type="password" placeholder="your password comes here" name="password">
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
</div>
