<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/jquery-bar-rating/dist/themes/fontawesome-stars.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title><%= @title %></title>
</head>

<body>

  <header>
    <div class="container">
      <img src="../images/music_waves.png" class="img-responsive" alt="Life without music is a joke!">
    </div>
  </header>

   <!-- Navigation bar -->
  <div class="container">
    <ul>
      <li role="presentation"><a href="/tracks">All tracks</a></li>
      <li role="presentation"><a href="/tracks/new">Post a new track</a></li>
      <% if @auth_user %>
        <li role="presentation"><a href="/logout">Log out (<%= @auth_user.name %>)</a></li>
      <% else %>
        <li role="presentation"><a href="/login">Login</a></li>
        <li role="presentation"><a href="/users/new">Register</a></li>
      <% end %>
    </ul>
  </div>

  <%= yield %>

<!-- jQuery bar rating plugin -->
<script src="/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script type="text/javascript">
   $(function() {
      $('#rating').barrating({
        theme: 'fontawesome-stars',
        initialRating: 1,
        showValues: true,
        showSelectedRating: true
      });
   });
</script>

</body>

</html>
