<h1><%= @test.name %></h1>

<div>

<h3> Current questions on test :</h3>

</div>

<div> 
<h3> All questions: </h3>

<% @questions.each do |question| %>
  <div>
    Question #<%=question.id%>: <%= p question.content %>
    Created by: <%= question.user.user_name%>

    <input type="submit" value = "Add question to test" action = "/test/:id/edit">
  </div>

<% end %>
